<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neusoft.mapper.AdminMapper">
    <resultMap id="AdminResult" type="edu.neusoft.domain.Admin">
        <id property="admin_id" column="admin_id"/>
        <result property="admin_password" column="admin_password"/>
        <result property="admin_name" column="admin_name"/>
        <result property="admin_phone" column="admin_phone" />
    </resultMap>


    <select id="loginAdmin" resultMap="AdminResult">
        select * from admin where admin_id=#{admin_id}
    </select>

    <select id="getAllAdmin" resultMap="AdminResult">
        select admin_id,admin_name,admin_phone from admin
    </select>

    <update id="Adminupdate" parameterType="edu.neusoft.domain.Admin">
        update admin
            <set>
                admin_password = #{admin_password},
                admin_name = #{admin_name},
                admin_phone = #{admin_phone},
            </set>
        where admin_id = #{admin_id}
    </update>

</mapper>