<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.neusoft.mapper.LostMapper">
    <resultMap id="LostResult" type="edu.neusoft.domain.Lost">
        <id property="lost_id" column="lost_id"/>
        <result property="lost_user_id" column="lost_user_id"/>
        <result property="lost_infor" column="lost_infor"/>
        <result property="lost_remark" column="lost_remark"/>
        <result property="lost_time" column="lost_time"/>
        <result property="lost_type" column="lost_type"/>
    </resultMap>

    <select id="getAllLost" resultMap="LostResult">
        select * from lost
    </select>

    <insert id="addLost" parameterType="edu.neusoft.domain.Lost">
        insert into lost values (#{lost_id},#{lost_user_id},#{lost_infor},#{lost_remark},#{lost_time},#{lost_type})
    </insert>

    <update id="updateLost" parameterType="edu.neusoft.domain.Lost">
        update lost
            <set>
                lost_user_id = #{lost_user_id},
                lost_infor = #{lost_infor},
                lost_remark = #{lost_remark},
                lost_time = #{lost_time},
                lost_type = #{lost_type}
            </set>
        where lost_id = #{lost_id}
    </update>

    <delete id="deleteLost">
        delete from lost where lost_id = #{lost_id}
    </delete>

    <select id="getAllLostForUser" resultMap="LostResult">
        select * from lost where lost_user_id=#{lost_user_id}
    </select>

    <select id="getAllLostForTime" resultMap="LostResult">
        select * from lost where lost_time like #{lost_time}
    </select>

    <select id="getAllLostForType" resultMap="LostResult">
    select * from lost where lost_type=#{lost_type}
</select>

</mapper>